body{background: #f4f4f4;font-style: normal;}

.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

.heritage{padding:28px 108px 60px;position: relative;*overflow: hidden;}
.heritagebg{position: absolute;top:0;left:0;right:0;z-index: -1;width:100%}
.heritage_main{width: 82%;overflow: hidden;}
.her_tit{background: #000;height:46px; padding:14px 0 0 20px;}
.her_nav{background: #323232;height: 38px;border:#3c3c3c solid;border-width: 1px 0;}
.her_nav a{color:#fff;font-family: Arial,"Microsoft YaHei",STHeiti;font-size: 18px;line-height: 28px;display: inline-block;margin:4px 20px;border-bottom: #323232 solid 1px}
.her_nav a span{display: none;}
.her_nav a img {display: block;margin:5px 0;}
.her_nav a:link,
.her_nav a:visited,
.her_nav a:active{color:#fff;}
.her_nav a.on,
.her_nav a:hover{border-bottom:#fff solid 1px;}
.her_com{padding:22px 24px 50px;background: url(../img/heritage/her_combg.png) repeat;display:none;}
.no-rgba .her_com {background:#fff;}
#her_com1 {display: block;}

.her_pho1,.her_pho2{float:left;width: 76%;height: 300px;overflow: hidden;position: relative;}
.her_pho2{width: 24%;}
.her_pho1 img,.her_pho2 img{position: absolute;width: 100%;}

.her_pho6,.her_pho7{float:left;width: 76%;height: 340px;overflow: hidden;position: relative;}
.her_pho7{width: 24%;}
.her_pho6 img,.her_pho7 img{position: absolute;width: 100%;}

.her_pho3{height: 460px;overflow: hidden;position: relative;}
.her_pho3 img{width: 100%;position: absolute;}

.her_article{font-family: Arial,"Microsoft YaHei",STHeiti;color:#000;font-size: 14px;line-height: 25px;padding-top: 20px;font-weight: bold;}
.her_article p{ padding:12px 0}
.her_article .oswald {font-weight: normal;}
.her_article a {color:#000;}
.her_article a:hover {color:#888;}
.oswald{font-family: 'Oswald', sans-serif;}

.awards_item{position: relative;}
.awards_item p{padding:4px 0;}
.awards_time{float:left;text-align: left;width:110px; }
.awards_month{position: absolute;width: 72px;left:0;text-align: right;}
.awards_com{text-align: left;padding:0 50px 0 110px;}

#footer #footer_top{background: #000;color:#888}
#footer_top #diesel_otb{color:#888} 

#cnt{_padding:0;}