body{background: #f4f4f4;font-style: normal;}

.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

.heritage{padding:28px 108px 60px;position: relative;*overflow: hidden;}
.heritagebg{position: absolute;top:0;left:0;right:0;z-index: -1;width:100%}
.heritage_main{width: 82%;overflow: hidden;}
.her_tit{background: #000;height:46px; padding:14px 0 0 20px;}
.her_nav{background: #323232;height: 38px;border:#3c3c3c solid;border-width: 1px 0;}
.her_nav a{color:#fff;font-family: Arial,"Microsoft YaHei",STHeiti;font-size: 18px;line-height: 28px;display: inline-block;margin:4px 20px;border-bottom: #323232 solid 1px}
.her_nav a span{display: none;}
.her_nav a img {display: block;margin:5px 0;}
.her_nav a:link,
.her_nav a:visited,
.her_nav a:active{color:#fff;}
.her_nav a.on,
.her_nav a:hover{border-bottom:#fff solid 1px;}
.her_com{padding:22px 24px 50px;background: url(../img/heritage/her_combg.png) repeat;display:none;}
.no-rgba .her_com {background:#fff;}
#heritage_about {display: block;}

.her_pho1,.her_pho2{float:left;width: 76%;height: 300px;overflow: hidden;position: relative;}
.her_pho2{width: 24%;}
.her_pho1 img,.her_pho2 img{position: absolute;width: 100%;}

.her_pho6,.her_pho7{float:left;width: 76%;height: 340px;overflow: hidden;position: relative;}
.her_pho7{width: 24%;}
.her_pho6 img,.her_pho7 img{position: absolute;width: 100%;}

.her_pho3{height: 460px;overflow: hidden;position: relative;}
.her_pho3 img{width: 100%;position: absolute;}

.her_article{font-family: Arial,"Microsoft YaHei",STHeiti;color:#000;font-size: 14px;line-height: 25px;padding-top: 20px;font-weight: bold;}
.her_article p{ padding:12px 0}
.her_article .oswald {font-weight: normal;}
.her_article a {color:#000;}
.her_article a:hover {text-decoration: underline;}
.oswald{font-family: 'Oswald', sans-serif;}

.awards_item{position: relative;}
.awards_item p{padding:4px 0;}
.awards_time{float:left;text-align: left;width:110px; }
.awards_month{position: absolute;width: 72px;left:0;text-align: right;}
.awards_com{text-align: left;padding:0 50px 0 110px;}

#footer #footer_top{background: #000;color:#888}
#footer_top #diesel_otb{color:#888} 

#cnt{_padding:0;}

.her_slider img {opacity:0;}
.bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    /*max-width: 100%;*/
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    display: none;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    opacity: 0.5;filter: alpha(opacity=50);
    left: 0;
    background: url(../img/control_prev.gif) no-repeat center;
}

.bx-wrapper .bx-next {
    opacity: 0.5;filter: alpha(opacity=50);
    right: 0;
    background: url(../img/control_next.gif) no-repeat center;
}

.bx-wrapper .bx-prev:hover {
    opacity: 1;filter: alpha(opacity=100);
}

.bx-wrapper .bx-next:hover {
    opacity: 1;filter: alpha(opacity=100);
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 0;
    outline: 0;
    width: 80px;
    height: 100%;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
