#homepage .navigation {display:none;}

#homepage .c1 {width:34%;}
#homepage .c2 {width:27%;}
#homepage .c3 {width:17%;}
#homepage .c4 {width:22%;}
#homepage .c1_2 {width:61%;}
#homepage .c3_4 {width:39%;}
#homepage .c1_2_3 {width:78%;}
#homepage .home_com2 a {color:#fff;}